<div class="top_buttons">
	<%= button_to 'Home', welcome_index_path, class: "help_page_button", method: :get %>
</div>
<div class="help_content" style="color:#008080;">
<h1>How to Use HLGSA Tracker</h1>
<body>
<b>Members:</b>
<br><br>
To add a new member, click on the New Member button. This will redirect you to the form to add a new member. The format for specific fields is as follows:<br><br>
UIN: 1234 (Only the last 4 digits are allowed for security reasons.)<br>
Email: email@example.com<br>
Department: HGSA (Only the 4 letters for the department code are needed.)<br>
<br>
Proceed to Create Member and you will be redirected to the member listing or cancel to discard the form.
To permanently delete a member, click on the Delete Member button. Changes cannot be undone.
<br><br>
To edit a member, click on the corresponding member's edit button. Proceed as you did with create a member changing the necessary fields and save your changes with the Update Member button.
<br>

<br>
<b>Events:</b>
<br><br>
To add a new event, click on the New Event button. This will redirect you to the form to add a new event. The format for specific fields is
as follows:<br><br>
Date: YYYY-MM-DD
Time: HH:MM a.m./p.m.
<br><br>
Proceed to Create Event and you will be redirected to the event listing or cancel to discard the form.
To permanently delete an event, click on the Delete Event button. Changes cannot be undone.
<br><br>
To edit a event, click on the corresponding event's edit button. Proceed as you did with create an event changing the necessary fields and save your changes with the Update Event button.
<br>
To track attendance to a specific event, click on the corresponding event's track event button. This will redirect you to a page that displays all the invited members and checkboxes. Select those members who have attended the event and click Track Attendance. This will redirect you to the event page and will show a list of members who attended. Editing this event will no longer be available. 
<br>
</body>
</div>
</div>
