<!DOCTYPE html >
<head>
  <link rel="stylesheet" href="../../assets/stylesheets/login.css" type="text/css">
</head>
<body>
<div class="body">
  <div class="banner">
<h1 class="title">HLGSA</h1>
</div>
<div class="card">
  <div class = "list">
  <%= link_to 'Enter Members', members_path %><br>
<%= link_to 'Enter Events', events_path %>
<div>

</div>
