<!DOCTYPE html >
<head>
  <link rel="stylesheet" href="../../assets/stylesheets/login.css" type="text/css">
</head>
<body>
  <div class="button_card">
    <div class = "button_list">
      <%= button_to 'Members', members_path, class: "members_button", method: :get %><br>
      <%= button_to 'Events', events_path, class: "events_button", method: :get %><br>
      <%= button_to 'Help', welcome_help_path, class: "help_button", method: :get %><br>
			<%= button_to 'Log Out', logout_path, class: "logout_button", method: :delete %>
    </div>
  </div>
</body>
