<!DOCTYPE html >
<head>
  <link rel="stylesheet" href="../../assets/stylesheets/login.css" type="text/css">
</head>
<body>
<%= link_to "Log out", logout_path, method: :delete %>
  <div class="button_card">
    <div class = "button_list">
      <%= button_to 'Members', members_path, class: "members_button", method: :get %><br>
      <%= button_to 'Events', events_path, class: "events_button", method: :get %>
    </div>
  </div>
</body>
