/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.top_buttons {
  float: left;
  margin-left: 50%;
}

.page_button1 {
  float: left;
  width: 130px;
  margin-left: -135px;
}

.page_button2 {
  float: left;
  width: 130px;
  margin-left: 5px;
}

.action_button {
  width: 90%;
  white-space: normal;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

#hlgsalogo {
  background-image: url("/assets/headerimage.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 485px 150px;
  height: 150px;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.member_table {
	text-align: center;
	display: block;
  margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: white;
}

#member {
	border-collapse: collapse;
}

.member_table th {
	width: 200px;
	border: 2px solid black;
	background-color: wheat;
	padding: 3px;
}

.member_table td {
  width: 300px;
	border: 2px solid black;
	padding: 3px;
 color: #008080;
}

.event_table {
	text-align: center;
	display: block;
  margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: white;
}

#event {
	border-collapse: collapse;
}

.event_table th {
	width: 200px;
	border: 2px solid black;
	background-color: wheat;
	padding: 3px;
}

.event_table td {
  width: 300px;
	border: 2px solid black;
	padding: 3px;
	color: #008080;
}

.bottom_buttons {
  margin-top: 10px;
  float: left;
  margin-left: 50%;
}

.bottom_button1 {
  float: left;
  width: 130px;
  margin-left: -135px;
}

.bottom_button2 {
  float: left;
  width: 130px;
  margin-left: 5px;
}


.help_page_button {
  width: 130px;
  margin-left: -65px;	
}

#inner_table {
    border-collapse: collapse;
}

#inner_table th {
	border-color: white;
	background-color: #D8D8AA;
}

#inner_table td {
	border-color: white;
}

.notice {
	text-align: center;
	margin-top: 5px;
	background-color: aqua;
}

.help_content {
	width: 90%;
	margin-top: 80px;
	position: absolute;
	padding-bottom: 50px;
	margin-left: 5%;
	margin-right: 5%;
}


