// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events_table {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  background-color: white;
}

table#events {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}

table#events th{
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table#events th, table#events td{
  padding: 4px;
  text-align: center;
}

table#events td {
  color: #008080;
}

table#events td.action_button{
  width: 12%;
}

table#events td#track_button{
  width: 17%;
}
