// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members_table {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
}

table#members {
position: relative;
top: 30%;
border-collapse: collapse;
width: 100%;
border-bottom: 2px solid black;
}

table#members th{
  border: 2px solid white;
  font-weight: bold;
  background-color:wheat;
}

table#members th, table#members td{
  padding: 4px;
  text-align: center;
}

table#members td {
  color: #008080;
}
table#members td.action_button{
  width: 15%;
}
