<!DOCTYPE html>
<html>
  <head>
    <title>Hlgsatracker</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-color: maroon;">
    <div id="hlgsalogo"/>
    </div>
    <div id="page_contents">
      <%= yield %>
    </div>

  </body>
</html>
